.registration{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__form{
        display: flex;
        flex-direction: column;
        width: 300px;
    }
}